<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
      http://www.springframework.org/schema/aop 
      http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<!-- Controller扫描 -->
	<context:component-scan base-package="com.leeframework" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<context:property-placeholder location="classpath:sysConfig.properties"/>

	<!-- 注解驱动配置 -->
	<mvc:annotation-driven conversion-service="conversionService" validator="validator">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>text/json;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="prettyPrint" value="false" />
				<property name="objectMapper">
					<bean class="com.leeframework.common.model.json.JsonMapper"></bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 静态资源映射 -->
    <mvc:resources mapping="${web.staticDir}/**" location="${web.staticDir}/"/>
    
    <!-- 定义无Controller的path<->view直接映射 -->
	<mvc:view-controller path="/" view-name="redirect:${path.admin}/index"/>
	<mvc:view-controller path="/admin" view-name="redirect:${path.admin}/index"/>
	<mvc:view-controller path="/front" view-name="redirect:${path.admin}/index"/>
	<mvc:view-controller path="/wap" view-name="redirect:${path.admin}/index"/>
	
	<!-- 自定义类型转换服务 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.leeframework.common.controller.converter.CustomDateConverter"></bean>
				<bean class="com.leeframework.common.controller.converter.CustomStringConverter"></bean>
			</list>
		</property>
	</bean>

	<!-- 视图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="${web.view.prefix}"></property>
		<property name="suffix" value="${web.view.suffix}"></property>
	</bean>

	<!-- 全局异常处理器 -->
	<bean id="exceptionHandler" class="com.leeframework.core.exception.GlobalExceptionResolver" />
	
	<!-- 国际化配置 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>resources.i18n.messages</value>
				<value>resources.validate.validationMessages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh_CN" />
	</bean>
	
	<!-- 注册校验 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
      	<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>    
      	<property name="validationMessageSource" ref="messageSource"/>    
  	</bean>  
	
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="${path.admin}/**" />
			<!--  
			<mvc:exclude-mapping path="${web.staticDir}/**"/>
			-->
			<bean class="com.leeframework.core.interceptor.ControllerLogInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 限制文件上传的大小 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="maxUploadSize" value="${web.maxUploadSize}"/>
	</bean>
	
	<!-- CGLIB代理模式 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

</beans>  